In [5]:
from sqlalchemy import Column, Integer, String, create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import pandas as pd

engine = create_engine('postgresql://bgd22_2721732:89wSanvc@gip.itc.utwente.nl:5434/c211', echo=False)
Base = declarative_base(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()

conn = session.bind

In [6]:
engine

Engine(postgresql://bgd22_2721732:***@gip.itc.utwente.nl:5434/c211)

In [11]:
sql_roadlegths = "SELECT block, g1+p1+w1+t1+r1+g3+p3+w3+t3+r3 AS roadlength_sum FROM public.vw_roadlengths"
sql_observation = "SELECT count(observer) as observer_intensity, obsdate, block from public.observation WHERE obsdate > '2016-12-31' AND obsdate < '2017-07-31' GROUP BY obsdate, block"
sql_myblocklanduse = "select * from bgd22_2721732.my_block_landuse"
sql_myblock = "SELECT block, longit, latit FROM public.vw_myblock"
sql_temperature = "SELECT block, dtime, temper FROM public.temperature where dtime > '20161231' and dtime < '20170701'"
sql_block_demo = "SELECT block, pop225 FROM public.block_demography"

In [13]:
import pandas as pd

roadlengths  = pd.read_sql(sql_roadlegths, conn)

observation  = pd.read_sql(sql_observation, conn)

myblocklanduse  = pd.read_sql(sql_myblocklanduse, conn)

myblock  = pd.read_sql(sql_myblock, conn)

temperature = pd.read_sql(sql_temperature, conn)

demography = pd.read_sql(sql_block_demo, conn)

In [19]:
df2 = myblock.merge(observation, on='block')

df3 = df2.merge(myblocklanduse, on='block')

df4 = df3.merge(temperature, on = 'block')

df5 = df4.merge(demography, on = 'block')

observation['observer'].nunique()

In [ ]:
import os  
os.makedirs('C:/Users/ashik/Downloads/bgd', exist_ok=True)  
df5.to_csv('C:/Users/ashik/Downloads/bgd/block_final.csv')

In [ ]:
observ_all = df5

In [ ]:
observ_all.head()

SQL Query to genrate same data - As an Alternative if the above code fails to work due to CPU limits. 

Run the below query with your user in PgAdmin and export to CSV file. 

CREATE TABLE bgd2725258.block_obs
AS
SELECT
obs.observer_intensity,
block.block,
block.longit,
block.latit,
obs.obsdate,
temperature.date,
EXTRACT(DOY FROM obs.obsdate) AS dayofyear,
EXTRACT(isodow FROM obs.obsdate) AS dayofweek,
temperature.temperature_avg,
precipitation.precipitation_avg,
Bebouwd.Area_Landuse_Bebouwd,
Bedrijfsterrein.Area_Landuse_Bedrijfsterrein,
Bos.Area_Landuse_Bos,
CoastalWater.Area_Landuse_CoastalWater,
DroogNatuurlijkTerrein.Area_Landuse_DroogNatuurlijkTerrein,
Glastuinbouw.Area_Landuse_Glastuinbouw,
Hoofdweg.Area_Landuse_Hoofdweg,
Landbouw.Area_Landuse_Landbouw,
NatNatuurlijkTerrein.Area_Landuse_NatNatuurlijkTerrein,
NatureReserves.Area_Landuse_NatureReserves,
Recreatie.Area_Landuse_Recreatie,
SemiBebouwd.Area_Landuse_SemiBebouwd,
Spoorweg.Area_Landuse_Spoorweg,
Vliegveld.Area_Landuse_Vliegveld,
Water.Area_Landuse_Water,
demo.pop001,
demo.pop009,
demo.pop025,
demo.pop049,
demo.pop081,
demo.pop121,
demo.pop169,
demo.pop225,
road.roadlength_sum



FROM (SELECT count(observer) as observer_intensity, obsdate, block from public.observation WHERE obsdate > '2016-16-31' AND obsdate < '2017-01-31' GROUP BY obsdate, block) AS obs



LEFT JOIN public.vw_myblock AS block
ON obs.block = block.block
LEFT JOIN
(SELECT block, date(dtime::TEXT) AS obsdate, dtime AS date, temper AS temperature_avg FROM public.temperature) AS temperature
ON obs.block = temperature.block AND obs.obsdate = temperature.obsdate
LEFT JOIN
(SELECT block, date(dtime::TEXT) AS obsdate, dtime, precip AS precipitation_avg FROM public.precipitation) AS precipitation
ON obs.block = precipitation.block AND obs.obsdate = precipitation.obsdate
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Bebouwd
FROM public.block_landuse
WHERE category = 'Bebouwd') AS Bebouwd
ON obs.block = Bebouwd.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Bedrijfsterrein
FROM public.block_landuse
WHERE category = 'Bedrijfsterrein') AS Bedrijfsterrein
ON obs.block = Bedrijfsterrein.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Bos
FROM public.block_landuse
WHERE category = 'Bos') AS Bos
ON obs.block = Bos.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_CoastalWater
FROM public.block_landuse
WHERE category = 'Coastal water') AS Coastalwater
ON obs.block = Coastalwater.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_DroogNatuurlijkTerrein
FROM public.block_landuse
WHERE category = 'Droog natuurlijk terrein') AS Droognatuurlijkterrein
ON obs.block = Droognatuurlijkterrein.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Glastuinbouw
FROM public.block_landuse
WHERE category = 'Glastuinbouw') AS Glastuinbouw
ON obs.block = Glastuinbouw.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Hoofdweg
FROM public.block_landuse
WHERE category = 'Hoofdweg') AS Hoofdweg
ON obs.block = Hoofdweg.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Landbouw
FROM public.block_landuse
WHERE category = 'Landbouw') AS Landbouw
ON obs.block = Landbouw.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_NatNatuurlijkTerrein
FROM public.block_landuse
WHERE category = 'Nat natuurlijk terrein') AS NatNatuurlijkTerrein
ON obs.block = NatNatuurlijkTerrein.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_NatureReserves
FROM public.block_landuse
WHERE category = 'nature reserves') AS NatureReserves
ON obs.block = NatureReserves.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Recreatie
FROM public.block_landuse
WHERE category = 'Recreatie') AS Recreatie
ON obs.block = Recreatie.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_SemiBebouwd
FROM public.block_landuse
WHERE category = 'Semi-bebouwd') AS SemiBebouwd
ON obs.block = SemiBebouwd.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Spoorweg
FROM public.block_landuse
WHERE category = 'Spoorweg') AS Spoorweg
ON obs.block = Spoorweg.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Vliegveld
FROM public.block_landuse
WHERE category = 'Vliegveld') AS Vliegveld
ON obs.block = Vliegveld.block
LEFT JOIN
(SELECT block_landuse.block AS block, block_landuse.areasum AS Area_Landuse_Water
FROM public.block_landuse
WHERE category = 'Water') AS Water
ON obs.block = Water.block
LEFT JOIN
(SELECT block, pop001, pop009, pop025, pop049, pop081, pop121, pop169, pop225 FROM public.block_demography) AS demo
ON obs.block = demo.block
LEFT JOIN
(SELECT block, g1+p1+w1+t1+r1+g3+p3+w3+t3+r3 AS roadlength_sum FROM public.vw_roadlengths) AS road
ON obs.block = road.block